{{#if loggedIn}}
{{#each profiles as |profile| }}
<div class="card">
  <div class="card-content">
    <div class="picture">
      user picture
    </div>
    <p class="title">
      This is: {{profile.name}}
    </p>
    <p class="title">
      Their username is: {{profile.user_name}}
    </p>
    <p class="subtitle">
      Person's description: {{profile.description}}
    </p>
    <p class="subtitle">
      Their pet type: {{profile.pet_type}}
    </p>
    <p class="subtitle">
      Their pet name: {{profile.pet_name}}
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        <a class="is-warning" href=""> I'll pass..</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        <a href="profile/{{profile.id}}"> Message them!</a>
      </span>
    </p>
  </footer>
</div>
{{/each}}
{{/if}}