{{#if loggedIn}}
<div class="card">
  <div class="card-content">
    <p class="title">
      Welcome, {{userProfile.name}}!
      We hope you are having a good day!
    </p>
  </div>
</div>

<div class="card">
  <div class="card-content">
  </div>
</div>
<div class="card">
  <div class="card-content">
    <div class="title">
      Hey I'm {{userProfile.name}}!
    </div>
    <p class="subtitle">
      @{{userProfile.user_name}}
    </p>
    <p class="subtitle">
      {{userProfile.description}}
    </p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="picture">
      <img src=".{{userProfile.pet_url}}" alt="{{userProfile.pet_name}}">
    </div>
    <p class="subtitle">
      Their name is: {{userProfile.pet_name}}!
    </p>
    <p class="subtitle">
      And my pet {{userProfile.pet_type}}!
    </p>
    <p>
      psst. If you want to know more about my pet or me don't be afraid to <a href="/inbox">message me!</a>
    </p>
  </div>
</div>
{{/if}}

<script src="../js/.js"></script>
